body {
  //background: rgb(190, 34, 211);
  background-image:url("https://github.com/mikunNEM/SSS_tomato/blob/main/tomato.png?raw=true");
}

h1 {
  color:rgb(255, 255, 0);
  font-size: 96px;
  text-align: right;
  margin-right: 80px;
}

h2 {
  color:rgb(205, 0, 255);
  font-size: 32px;
}

.left {
  width: 800px;
}
.right {
  width: 60%;
}

.account-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

.sender-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  margin: 16px;
  padding: 16px;
}

#button-haichi{
  text-align: right;
}

.button-sign{
  width:100px;height:50px; 
  background:rgb(205, 0, 255); 
  color:rgb(255,255,255); 
  border-radius: 16px;
  cursor: pointer;
}

.tx-card {
  background: rgb(255, 255, 255,0.8);
  border-radius: 16px;
  width: 750px;
  margin: 16px;
  padding: 32px;
}

.textfiled-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 8px;
}

.textfiled {
  width: 400px;                    // 左の白い背景の大きさ
}

#wallet-addr {
  font-size: 24px;                 // ウォレットアドレスの文字サイズ
}

#xembook-tomato {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

#shizui-tomato {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

#tenxym-tomato {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

#toshi-tomato {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

#pasomi-tomato {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}

#xym-balance {
  text-align: left;
  font-size: 20px;
  font-weight: 700;
}

.container {
  font-size: 24px;
  margin: 16px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  margin: 80px;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: .6s;
}
.popup.is-show {
  opacity: 1;
  visibility: visible;
}
.popup-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  max-width: 200px;
  padding: 50px;
  background-color: #fff;
  z-index: 2;
}
.popup-inner img {
  width: 100%;
}
.close-btn {
  position: absolute;
  right: 0;
  top: 0;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.close-btn i {
  font-size: 20px;
  color: #333;
}
.black-background {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 1;
  cursor: pointer;
}

